### Which album has the greatest number of tracks?

_1) Create a view to select the number of track per album_

In [2]:
CREATE VIEW count_tracks
AS
SELECT count(Track_num) as track_count
FROM Tracks
INNER JOIN Album ON Album.id=Tracks.Album_id
GROUP BY ID

_2) Obtain the name of the album with the greatest number of tracks thanks to the view_ <span style="color: rgb(220, 220, 170); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">count_tracks</span>

In [2]:
SELECT Name 
FROM Album
INNER JOIN Tracks ON Album.ID=Tracks.Album_id
GROUP BY Name
HAVING COUNT(Track_num)=(SELECT MAX(track_count)
FROM count_tracks)

Name
Trinity

### Which albums contain only one genre of music and which type of style?

_1) Create a view to select the album which contain only one genre_

In [ ]:
CREATE VIEW albums_genre_unique_id
AS
SELECT Album.ID
FROM Album
INNER JOIN Tracks ON Tracks.Album_id=Album.ID
INNER JOIN Genres ON Genres.ID=Tracks.Genre_id
GROUP BY Album.ID
HAVING count(distinct Genres.ID)=1

_2) Obtain the name of the genre of each album thanks to the view_ <span style="color: rgb(220, 220, 170); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">albums_genre_unique_id</span>

In [ ]:
SELECT Album.Name,Genres.Name
FROM Album
INNER JOIN Tracks ON Tracks.Album_id=Album.ID
INNER JOIN Genres ON Genres.ID=Tracks.Genre_id
WHERE Album.ID IN(
SELECT ID 
FROM albums_genre_unique_id)
Group By Album.Name, Genres.Name

### The top 5 of years selling per Artist

In [ ]:
SELECT top 5 Artist.Name,Album_sales_per_year.Year,SUM(Sales) as SALES
FROM Artist 
INNER JOIN Album ON Album.Artist_id=Artist.ID
INNER JOIN Album_sales_per_year ON Album.ID=Album_sales_per_year.Album_id
GROUP BY Artist.Name,Album_sales_per_year.Year
ORDER BY SALES DESC

### Which artist have the greatest number of different styles?

_1) Create a view to select the number of distinct style per album_

In [ ]:
CREATE VIEW distinct_genres 
AS
SELECT count(distinct genre_id) as genre_distinct
FROM Tracks
INNER JOIN Album ON Tracks.Album_id=Album.ID
INNER JOIN Artist ON Artist.ID=Album.Artist_id
GROUP BY Artist.ID

_2) Obtain the name of the artist with the greatest number of different styles thanks to the view distinct\_genres_

In [ ]:
SELECT Artist.Name
FROM Artist
INNER JOIN Album ON Artist.ID=Album.Artist_id
INNER JOIN Tracks ON Tracks.Album_id=Album.ID
GROUP BY Artist.Name
HAVING count(distinct genre_id)=(SELECT MAX(genre_distinct)FROM distinct_genres)