Create Artist Table

In [ ]:
CREATE TABLE dbdemosession0.dbo.Artist (
	ID int NOT NULL,
	Name varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	CONSTRAINT Artist_PK PRIMARY KEY (ID)
);

Create Genre Table

In [ ]:
CREATE TABLE dbdemosession0.dbo.Genres (
	ID int NOT NULL,
	Name varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	CONSTRAINT Genres_PK PRIMARY KEY (ID)
);

Create Album table

In [ ]:
CREATE TABLE dbdemosession0.dbo.Album (
	ID int NOT NULL,
	Name varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	Artist_id int NOT NULL,
	CONSTRAINT Album_PK PRIMARY KEY (ID)
);

Create Album foreign key with Artist table

In [ ]:
ALTER TABLE dbdemosession0.dbo.Album ADD CONSTRAINT Album_FK FOREIGN KEY (Artist_id) REFERENCES dbdemosession0.dbo.Artist(ID);

Create Album sales per year table

In [ ]:
CREATE TABLE dbdemosession0.dbo.Album_sales_per_year (
	Album_id int NOT NULL,
	[Year] int NOT NULL,
	Sales int NOT NULL,
	CONSTRAINT Album_sales_per_year_PK PRIMARY KEY (Album_id,[Year])
);

Create Album sales per year Foreign key with Album table

In [ ]:
ALTER TABLE dbdemosession0.dbo.Album_sales_per_year ADD CONSTRAINT Album_sales_per_year_FK FOREIGN KEY (Album_id) REFERENCES dbdemosession0.dbo.Album(ID);

Create Tracks table

In [ ]:
CREATE TABLE dbdemosession0.dbo.Tracks (
	Album_id int NOT NULL,
	Track_num int NOT NULL,
	Title varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	Genre_id int NOT NULL,
	CONSTRAINT Tracks_PK PRIMARY KEY (Album_id,Track_num)
);

Create Tracks foreign keys with Album and Genre tables

In [ ]:
ALTER TABLE dbdemosession0.dbo.Tracks ADD CONSTRAINT Tracks_FK FOREIGN KEY (Album_id) REFERENCES dbdemosession0.dbo.Album(ID);
ALTER TABLE dbdemosession0.dbo.Tracks ADD CONSTRAINT Tracks_FK_genres FOREIGN KEY (Genre_id) REFERENCES dbdemosession0.dbo.Genres(ID);